:root {
    --bg-color: #121b25;
    --accent-color: #1aa090;
    --text-color: #d6d6d6; 
    --white: #ffffff;
    --black: #000000;
    --grey: #e8e8e8;
    --dark-grey: #858585;
    --hover: #15786c;
 }
 