.filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 165px;
    color: var(--black);

    @media(max-width: 576px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        height: auto;
    }
    @media(max-width: 475px) {
        grid-template-columns: 1fr;
        gap: 10px
    }

    &__block {
        &:nth-child(2) {
            border-right: 1px solid var(--grey);
            border-left: 1px solid var(--grey);
        }
    }
    
    &__btn {
        padding: 5px;
        button {
            cursor: pointer;
            background-color: var(--accent-color);
            height: 100%;
            width: 100%;
            border: none;
            font-weight: 500;
            font-size: 24px;
            text-transform: capitalize;
            color: var(--white);
            padding: 10px;
            &:active {
                background-color: var(--hover);
            }
        }
        @media (max-width: 576px) and (min-width: 475px) {
            grid-column: 1/4;
        }
    }
}

.block-filter {
    position: relative;

    &__button {
        padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        cursor: pointer;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__type {
        padding-right: 2px;
        font-size: 16px;
        color: var(--dark-grey);
    }

    &__icon {
        width: 10px;
        height: 7px;
        background: url("../../img/icons/arrow-dropdown.svg") center bottom no-repeat;
        transition: transform .3s ease-in;

        &.active {
            transform: rotate(180deg);
        }
    }
    &__value {
        color: var(--bg-color);
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
    }
    &__dropdown {
		position: absolute;
		z-index: 3;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #fff;
		border-radius: 5px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.2s;
		box-shadow: 0 0 5px 1px #000;
		&._active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(5px);
		}
	}

    &__item {
		padding: 10px;
		transition: background-color 0.2s;
		text-transform: capitalize;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background-color: #adadad;
			}
		}
	}

}